.point {
    font-size: 30px;
    text-align: center;
}
@media (max-width: 1281px) {
    .point {
        font-size: 30px;
    }
}
@media (max-width: 1025px) {
    .point {
        font-size: 20px;
    }
}
@media (max-width: 961px) {
    .point {
        font-size: 16px;
    }
}
@media (max-width: 641px) {
    .point {
        font-size: 12px;
    }
}
@media (max-width: 481px) {
    .point {
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    .point {
        font-size: 8px;
    }
}